<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Spring Bootの基礎を学ぼう</title>
</head>
<body>
  <h2>お問い合わせフォーム</h2>
  <form th:action="@{/form}" method="post" th:object="${contactForm}">
    <div style="display: flex; align-items: center;">
      <label for="name" style="width: 150px;">お名前</label>
      <input type="text" th:field="*{name}" style="width: 150px;">
    </div>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="margin-left: 150px; color:red"></div>

    <div style="display: flex; align-items: center;">
      <label for="email" style="width: 150px;">メールアドレス</label>
      <input type="text" th:field="*{email}" style="width: 150px;">
    </div>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="margin-left: 150px; color:red"></div>

    <div style="display: flex; align-items: center;">
      <label for="message" style="width: 150px;">お問い合わせ内容</label>
      <textarea cols="30" rows="10" th:field="*{message}" style="width: 200px;"></textarea>
    </div>
    <div th:if="${#fields.hasErrors('message')}" th:errors="*{message}" style="margin-left: 150px; color:red"></div><br>
    <button type="submit">送信</button>
  </form>
  
</body>
</html>